{% extends 'shared/_layout.html' %}
{% block title %}درباره رادیو کیبرد{% endblock %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option normal-breadcrumb spad set-bg" data-setbg="/static/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h2>درباره ما</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url 'index_page' %}"><i class="fa fa-home"></i> خانه</a>
                            <span>درباره ما</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about__text">
{#                        <span>تیم مگا پد</span>#}
                        <h2>عضوی از خانواده رادیو کیبرد باشید</h2>
                        <p>رادیو کیبرد همواره رایگان بوده و خواهد بود. اگر دوست دارید سهمی در ارتقا سطح محتوای تولیدی رادیو کیبرد داشته باشید میتوانید حامی رادیو کیبرد باشید. از اینکه در کنار ما هستید به خود میبالیم. </p>
                        <a href="#" class="primary-btn">پرداخت آنلاین</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about__item">
                        <h6>چرا رادیو کیبرد متولد شد؟
                        </h6>
                        <p>ما به حال خوب نیاز داریم . تک تک ما لحظاتی در زندگی داشته ایم که کاری را انجام دادیم و به خود افتخار کرده ایم. حس خوبی که شاید حتی داشتن یک لامبورگینی هم به ما ندهد. دلیلش چیست؟ چون ما کاری کردیم!

حال خوب ما نتیجه پیشرفت کردن ماست و هر چه بیشتر پیشرفت کنیم و به پیشرفت کردن اعتیاد پیدا کنیم ، توقف ناپذیرتر خواهیم شد.

یادگیری و مطالعه همواره یکی از روتین های افراد موفق بوده و الگو برداری از رفتار های افراد موفق جهان بدون شک باعث تبدیل ما به افراد موفق تر و بهتری در زندگی ، کسب و کار و جامعه میشودو و به دنبال آن به حال خوب دست پیدا خواهیم کرد.

رادیو کیبرد در تاریخ ۶ اردیبهشت ۱۴۰۲ ، در اتاق ۳۰۶ خوابگاه رجایی دانشگاه اصفهان با محوریت انتشار محتوای فناوری و مدیریتی و رشد فردی شروع به فعالیت کرد و تلاش می کند با تولید محتوای فاخر برای شما حال خوبی را رقم بزند :) </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about__item">
                        <h6>چرا باید رادیو کیبرد گوش دهیم؟
                        </h6>
                        <p>چون شما می خواهید جهان بینی خود را گسترش دهید. رادیو کیبرد با محتوایی کاربردی و بروز و نوین به افزایش جهان بینی شما کمک میکند.

چون نمی خواهید وقت خود را تلف کنید! وقتی مشغول انجام روتین صبحگاهی هستید یا در مترو هستید می توانید با استفاده از پادکست وقت خود را به بهترین نحو استفاده کنید. فرض کنید اگر یک سال پیش در وقت های مرده خود پادکست گوش میکردید چقدر دانش و معلومات بالایی داشتید. میتوانید از الان شروع کنید.

 چون نیاز دارید دانش های جانبی خود را ارتقا دهید و درحال یادگیری باشید. به قول هنری فورد "هر کسی که یادگیری را متوقف کند پیر است، چه بیست سالش باشد چه هشتاد سال. هر کسی که به یادگیری ادامه دهد جوان می ماند. "  </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__pic">
                        <img src="/static/img/about_rk.jpg" style="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg" data-setbg="/static/img/call-about-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="callto__text">
                        <h2>حمایت مالی</h2>
                        <p style="text-align: unset">از گوش دادن به پادکست های ما لذت می برید؟ با اهدای یک مبلغ ما را
                            حمایت
                            کنید!</p>
                        <a href="#" class="primary-btn">پرداخت آنلاین</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->

    <!-- Team Section Begin -->
{#    <section class="team spad">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="section-title">#}
{#                        <h2>تیم رادیو کیبرد</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-lg-4 col-md-6 col-sm-6">#}
{#                    <div class="team__item">#}
{#                        <img src="/static/img/team/team-1.jpg" alt="">#}
{#                        <h4>سیروان ویسی</h4>#}
{#                        <span>کارگردان</span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-6 col-sm-6">#}
{#                    <div class="team__item">#}
{#                        <img src="/static/img/team/team-2.jpg" alt="">#}
{#                        <h4>امیر جهانگیری</h4>#}
{#                        <span>بنیان گذار ، گوینده ، تهیه کننده</span>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-4 col-md-6 col-sm-6">#}
{#                    <div class="team__item">#}
{#                        <img src="/static/img/team/team-3.jpg" alt="">#}
{#                        <h4>سیروان ویسی</h4>#}
{#                        <span>کارآفرین</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- Team Section End -->

{% endblock %}
