{% extends 'shared/_layout.html' %}
{% block title %}
    {{ podcast.title }}
{% endblock %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option spad set-bg" data-setbg="/static/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text episodes__breadcrumb__text">
                        <ul>
                            <li> {{ podcast.get_jalali_created_date }}<span class="icon_calendar"></span></li>
                            <li><span class="icon_profile"></span> توسط {{ podcast.producer }}</li>
                            <li><span class="icon_tags_alt"></span>
                                فصل {{ podcast.season.number }} قسمت {{ podcast.season_episode }}</li>
                        </ul>
                        <h2>اپیزود {{ podcast.id }} : {{ podcast.title }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="single__track">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single__track__item">
                            <div class="single__track__item__pic">
                                <img src="{{ podcast.avatar.url }}" alt="">
                            </div>
                            <div class="single__track__item__text">
                                <h5>فصل {{ podcast.season.number }} : {{ podcast.season }}</h5>
                                <span>قسمت {{ podcast.season_episode }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8" style="direction: ltr !important;">
                        <div class="single__track__option ltr">
                            <div class="jp-jplayer jplayer" data-ancestor=".jp_container"
                                 data-url="{{ podcast.podcast_file.url }}">
                            </div>
                            <div class="jp-audio jp_container" role="application" aria-label="media player">
                                <div class="jp-gui jp-interface">
                                    <!-- Player Controls -->
                                    <div class="player_controls_box">
                                        <button class="jp-play player_button" tabindex="0"></button>
                                    </div>
                                    <!-- Progress Bar -->
                                    <div class="player_bars">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div>
                                                    <div class="jp-play-bar">
                                                        <div class="jp-current-time" role="timer" aria-label="time">0:00
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jp-duration ml-auto" role="timer" aria-label="duration">00:00</div>
                                    </div>
                                    <!-- Volume Controls -->
                                    <div class="jp-volume-controls">
                                        <button class="jp-mute" tabindex="0"><span
                                                class="icon_volume-high"></span></button>
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value" style="width: 0%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jp-btns rtl">
                                    <a href="#"><i class="social_share"></i> ارسال</a>
                                    <a href="#"><i class="fa fa-download"></i> دانلود</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Episodes Details Section Begin -->
    <section class="episodes-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="episodes__details__content">
                        <div class="episodes__details__text">
                            {{ podcast.content.html |safe}}
                        </div>
                        <div class="episodes__details__pic">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <img src="/static/img/episodes-single/eps-1.jpg" alt="">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <img src="/static/img/episodes-single/eps-2.jpg" alt="">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <img src="/static/img/episodes-single/eps-3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="episodes__details__desc">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            </p>
                        </div>
                        <div class="episodes__details__btns">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="#"
                                       class="episodes__details__btns__item episodes__details__btns__item--next">
                                        <p><span class="arrow_right"></span> قسمت بعدی</p>
                                        <h6>قسمت 23 : بازاریابی دیجیتال و تبلیغات هدفمند</h6>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <a href="#" class="episodes__details__btns__item text-left">
                                        <p class="text-left">قسمت قبلی <span class="arrow_left"></span></p>
                                        <h6>قسمت 21 : بازاریابی دیجیتال و تبلیغات هدفمند</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {#                        <div class="episodes__details__form">#}
                        {#                            <h4>دیدگاه خود را بنویسید</h4>#}
                        {#                            <form action="#">#}
                        {#                                <div class="row">#}
                        {#                                    <div class="col-lg-4 col-md-4">#}
                        {#                                        <input type="text" placeholder="نام شما">#}
                        {#                                    </div>#}
                        {#                                    <div class="col-lg-4 col-md-4">#}
                        {#                                        <input type="text" placeholder="آدرس ایمیل">#}
                        {#                                    </div>#}
                        {#                                    <div class="col-lg-4 col-md-4">#}
                        {#                                        <input type="text" placeholder="شماره تماس">#}
                        {#                                    </div>#}
                        {#                                    <div class="col-lg-12">#}
                        {#                                        <textarea placeholder="متن دیدگاه"></textarea>#}
                        {#                                        <button type="submit" class="site-btn">ثبت دیدگاه</button>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </form>#}
                        {#                        </div>#}
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sidebar">
                        <div class="sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="جستجو...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        {#                        <div class="sidebar__categories">#}
                        {#                            <h4>دسته بندی ها</h4>#}
                        {#                            <ul>#}
                        {#                                <li><a href="#"><i class="fa fa-angle-double-left"></i> کارآفرینی</a></li>#}
                        {#                                <li><a href="#"><i class="fa fa-angle-double-left"></i> رسانه</a></li>#}
                        {#                                <li><a href="#"><i class="fa fa-angle-double-left"></i> تکنولوژی</a></li>#}
                        {#                                <li><a href="#"><i class="fa fa-angle-double-left"></i> آموزشی</a></li>#}
                        {#                                <li><a href="#"><i class="fa fa-angle-double-left"></i> کسب و کار</a></li>#}
                        {#                                <li><a href="#"><i class="fa fa-angle-double-left"></i> سرگرمی</a></li>#}
                        {#                            </ul>#}
                        {#                        </div>#}
                        <div class="sidebar__recent">
                            <h4>آخرین مطالب بلاگ</h4>
                            <a href="#" class="sidebar__recent__item">
                                <h6>قسمت 04 : چگونه یک شبه پولدار شویم - نقد و بررسی</h6>
                                <p><span class="icon_calendar"></span> یکشنبه 21 مهر 99</p>
                            </a>
                            <a href="#" class="sidebar__recent__item">
                                <h6>قسمت 07 : چگونه یک مهندس نرم افزار موفق شویم</h6>
                                <p><span class="icon_calendar"></span> یکشنبه 21 مهر 99</p>
                            </a>
                            <a href="#" class="sidebar__recent__item">
                                <h6>قسمت 03 : رازهای جهان هستی و کهکشان ها</h6>
                                <p><span class="icon_calendar"></span> یکشنبه 21 مهر 99</p>
                            </a>
                            <a href="#" class="sidebar__recent__item">
                                <h6> قسمت 21 : رادیو صدای شب - ایده پردازی و اجرا</h6>
                                <p><span class="icon_calendar"></span> یکشنبه 21 مهر 99</p>
                            </a>
                        </div>
                        {#                        <div class="sidebar__banner set-bg" data-setbg="/static/img/episodes-single/sidebar-banner.jpg">#}
                        {#                            <span>بهترین قالب سفارشی</span>#}
                        {#                            <h2>پادکست</h2>#}
                        {#                        </div>#}
                        {#                        <div class="sidebar__tags">#}
                        {#                            <h4>برچسب های محبوب</h4>#}
                        {#                            <a href="#">رمان</a>#}
                        {#                            <a href="#">ایده_پردازی</a>#}
                        {#                            <a href="#">پادکست</a>#}
                        {#                            <a href="#">ویدیو</a>#}
                        {#                            <a href="#">خلاقیت</a>#}
                        {#                            <a href="#">ورزش</a>#}
                        {#                            <a href="#">موزیک</a>#}
                        {#                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Episodes Details Section End -->

{% endblock %}