{% load static %}
{% include 'django_quill/media.html' %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Megapod Template">
    <meta name="keywords" content="Megapod, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}

    {% endblock %}</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    {% include 'references/head_references.html' %}
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>
<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__search">
        <form action="#">
            <input type="text" placeholder="کلمه کلیدی + اینتر..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="/static/img/logo.png" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__social">

        <a href="#"><i class="fa fa-telegram" title="تلگرام"></i></a>
        <a href="#"><i class="fa fa-soundcloud" title="ساوندکلاد"></i></a>
        <a href="#"><i class="fa fa-spotify" title="اسپاتیفای"></i></a>
        <a href="#"><i class="fa fa-instagram" title="اینستاگرام"></i></a>
        <a href="#"><i class="fa fa-youtube-play" title="یوتیوب"></i></a>

    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="header__logo">
                    <a href="./index.html"><img src="/static/img/logo.png" alt=""></a>
                </div>
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="{% url 'index_page' %}">صفحه اصلی</a></li>
                        <li><a href="{% url 'podcasts_list_page' %}">پادکست ها</a></li>
                        <li><a href="{% url 'blog_list_page' %}">بلاگ</a></li>
                        {#                        <li><a href="#">پایتون پلاس</a></li>#}

                        {#                        <li><a href="#">صفحات</a>#}
                        {#                            <ul class="dropdown">#}
                        {#                                <li><a href="./episodes-details.html">مشخصات پادکست</a></li>#}
                        {#                                <li><a href="./blog.html">بلاگ</a></li>#}
                        {#                                <li><a href="./blog-details.html">مشخصات بلاگ</a></li>#}
                        {#                            </ul>#}
                        </li>
                        <li><a href="{% url 'about_us_page' %}">درباره رادیو کیبرد</a></li>
                        <li><a href="{% url 'contact_us_page' %}">ارتباط با ما</a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-lg-4">
                <div class="header__left">
                    <div class="header__left__search">
                        <form action="#">
                            <input type="text" placeholder="کلمه کلیدی + اینتر..">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="header__left__social">
                        <a href="#"><i class="fa fa-telegram" title="تلگرام"></i></a>
                        <a href="#"><i class="fa fa-soundcloud" title="ساوندکلاد"></i></a>
                        <a href="#"><i class="fa fa-spotify" title="اسپاتیفای"></i></a>
                        <a href="#"><i class="fa fa-instagram" title="اینستاگرام"></i></a>
                        <a href="#"><i class="fa fa-youtube-play" title="یوتیوب"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->



{% block content %}

{% endblock %}



<!-- Footer Section Begin -->
<footer class="footer set-bg" data-setbg="/static/img/footer-bg.jpg">
    <div class="container">
        <div class="footer__subscriber">
            <div class="row">
                <div class="col-lg-5">
                    <div class="footer__subscriber__text">
                        <h3>عضویت رایگان در خبرنامه!</h3>
                        <p>جهت دریافت جدیدترین پادکست ها مشترک خبرنامه ما شوید.</p>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <form action="#" class="footer__subscriber__form">
                        <input type="text" placeholder="آدرس ایمیل خود را وارد کنید">
                        <button type="submit" class="site-btn">عضویت</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="footer__widget">
                    <div class="footer__logo">
                        <a href="#"><img src="/static/img/logo.png" alt=""></a>
                    </div>
                    <p class="footer__copyright__text">© کپی رایت
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        - developed by Amir Jahangiri
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="footer__social">

                    <a href="#"><i class="fa fa-telegram" title="تلگرام"></i></a>
                    <a href="#"><i class="fa fa-soundcloud" title="ساوندکلاد"></i></a>
                    <a href="#"><i class="fa fa-spotify" title="اسپاتیفای"></i></a>
                    <a href="#"><i class="fa fa-instagram" title="اینستاگرام"></i></a>
                    <a href="#"><i class="fa fa-youtube-play" title="یوتیوب"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

{% include 'references/js_references.html' %}
</body>

</html>
